* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.hero {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(98, 117, 147),
    rgb(141, 101, 85),
    rgb(98, 117, 147)
  );
  background-size: 200%;
  animation: background-pan 5s linear infinite;
}

.boxContainer {
  display: flex;
}

.box {
  animation: box-intro 1.5s linear forwards;
  width: 10vw;
  height: 20vh;
  position: relative;
  transition-duration: 2s;
  transition-delay: 0.5s;
  transform: rotate(-20deg) scale(1.2);
  opacity: 0.5;
}

.box::before {
  background-color: black;
  content: "";
  position: absolute;
  inset: 0.5px;
  border-radius: 20px;
}

.heading-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  animation: fade-in 2s 1.5s linear forwards;
  opacity: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.heroHeading {
  font-size: 10rem;
}
.heroText {
  font-size: 3rem;
}
.anotherPage {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: relative;
  overflow: hidden;
}

#blob {
  background-color: white;
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgb(98, 117, 147),
    rgb(141, 101, 85)
  );
  animation: rotate 10s infinite;
  filter: blur(200px);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes box-intro {
  from {
    transform: rotate(-20deg) scale(1.2);
    opacity: 0.5;
  }
  to {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
